@tailwind base;
@tailwind components;
@tailwind utilities;

/**==================================================================
**			Font 
**=================================================================*/
@font-face {
  font-family: "Lora";
  font-weight: 100 900;
  src: url("./src/assets/Lora-VariableFont_wght.ttf")
    format("truetype-variations");
}

body {
  @apply bg-stone-50 font-serif text-stone-800;
}

/* Override date picker styling */
.date-time-field {
  .date-time-picker {
    border-radius: 0px !important;
    border: 1px solid theme(colors.stone.400) !important;
    box-shadow: 8px 8px 0px theme(colors.stone.200) !important;
  }

  select,
  input,
  .selected {
    border-radius: 0px !important;
  }

  input[type="text"] {
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 0px !important;
    border: 2px solid theme(colors.stone.500) !important;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1) !important;
    height: 2.5rem;

    &:focus {
      border-color: theme(colors.stone.900) !important;
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2) !important;
    }
  }
}

:root {
  --date-picker-foreground: theme(colors.stone.800);
  --date-picker-background: theme(colors.stone.100);
  --date-picker-selected-background: theme(colors.stone.50);
  --date-picker-highlight-border: theme(colors.stone.900);
  --date-picker-highlight-shadow: "none";
}
